tr 
    td #{emp.id}
    td #{emp.name}
    td 
        a.text-primary(href=`/employees/details/${emp.id}`) Details
    td 
        a.text-warning(href=`/employees/edit/${emp.id}`) Edit
    td 
        a.text-danger(href=`/employees/delete/${emp.id}`) Delete